body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
}

#mainContent section:nth-child(even) {
    background-color: #EDEDF0;
}

#mainContent section:nth-child(odd) {
}

#mainContent section h1 {
    background-color: gray;
    text-align: center;
    font-variant: small-caps;
}

header {
    color: #FFF;
    position: fixed;
    /**adjust location**/
    left: 0px;
    top: 0px;
    padding: 0 10px 0 10px;
    width: 100%;
    min-width: 1000px;
    background: url(transparent.png) repeat;
}

/*#mainContent {
    clear:both;
}*/