html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Segoe UI", Tahoma, Helvetica, Sans-Serif;
}

img {
    border-style: none;
    max-width:100%;
}

ul {
    list-style:none;
}
ol {
    padding-top:0;
}
#pageHeader {
    height: 125px;
    background: #1a1a1a;
    position: fixed;
    width: 100%;
    top: 0;
    opacity: 0.9;
}
#pageContent {
    margin: 125px auto;
}

#headerContent {
    font-size:40px;
    font-weight:200;
    line-height:45px;
}

header,header a {
    color:#BAD80A;
    text-decoration:none;
}

.pageCenter {
    width:960px;
    margin:0px auto;
}

    .mainContent article {
        margin: 0px auto;
    }

        .mainContent article section {
            display: inline;
            margin: 0px auto;
        }

.textXxlPadding {
    padding-top:50px;
}
    .textXxl {
        font-size: 66px;
        line-height:66px;
        font-weight:400;
        color:#454545;
        text-align:left;
    }

.bookLogo {
    background:url(/images/msbuildbook.jpg) no-repeat center center;
    height: 305px;
    width: 250px;
}

.leftPart{
    float:left;
    width:50%;
    height:400px;
    text-align:center;
}

.rightPart {
    width:50%;
    float:right;
    text-align:right;
    height:400px;
}

.band400 {
    height:400px;
    width:100%;    
}

.band500 {
    height:500px;
    width:100%;    
}

#pageContent article:nth-child(odd) {
    background-color:rgb(237, 237, 240);
}
#pageContent article:nth-child(even) {
    background-color:transparent;
}

.filler {
    height:100%;
    width:100%;
    background:inherit;
}

#reviewSummary {
    text-align:left;
}
    #reviewSummary h2 {
        text-align:right;
    }

.twoColumn h3 {
    font-size:19px;
    font-weight:600;
    line-height:25px;
}

.twoColumn h2 {
    margin-bottom:10px;
}
.twoColumn h3{
    margin-bottom:0;
}

.leftCol{
    float:left;
    width:50%;
    height:100%;
    text-align:left;
}

.rightCol {
    width:50%;
    float:right;
}

.teLeft {
    float:left;
    width:50%;
    height:100%;
    text-align:left;
}
.teRight {
    width:50%;
    float:right;
}



footer {
    clear: both;
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: 10pt;
    color: #818181;
    font-style: italic;
    background-color: #323439;
}

    footer p {
        padding: 0;
        margin: 0;
    }
    footer a {
        color: white;
    }
    #thirdEdition .textXxl {
        text-align:right;
    }
/* required for windows 8 */
@media screen and (max-width: 320px) {
    @-ms-viewport {
        width: 320px;
    }
}

/* we have to be a bit careful to setup the sections for different screen sizes*/
@media only screen and (max-width:1000px) {
    .pageCenter {
        width:600px;
    }

    #headerContent {
        font-size:30px;
        font-weight:200;
        line-height:35px;
    }
    
    #pageHeader {
        height: 100px;
    }
    #pageContent {
        margin: 100px auto;
    }

    .textXxlPadding {
        padding-top:90px;
    }
        .textXxl {
            font-size: 35px;
            line-height:40px;           
        }

        .twoColumn h2,
        .twoColumn li {
            margin-bottom:0;
        }

    
    .twoColumn h3, #thirdEdition h3 {
        font-size:15px;
    }
}

@media only screen and (max-width:700px) {
   #headerContent {
        font-size:20px;
        line-height:25px;
        font-weight:600;
    }
    #pageHeader {
        height: 75px;
    }
    #pageContent {
        margin: 75px auto;
    }

    .pageCenter {
        width:100%;        
    }
        .pageCenter h2 {
            padding-left:5px;
            padding-right:5px;
        }
    #thirdEdition .pageCenter p {
        padding-left:5px;
        padding-right:5px;
    }
    .bookLogo {
        background:url(/images/msbuildbook-med.jpg) no-repeat center center;
    }

    #headerContent {
        padding-left:5px;
    }
}
/* mobile - all vertical layout */
@media only screen and (max-width:600px) {
    #headerContent {
        font-size:12px;
        line-height:12px;
        font-weight:600;
    }
    .leftPart, .teLeft{
        float:none;
        width:100%;
        height:100%;
    }

    .rightPart, .teRight {
        clear:both;
        float:left;
        width:100%;
    }

    .textXxlPadding {
        padding-top:0;
    }
    .textXxl {
            font-size: 20px;
            line-height:25px;           
        }
    .bookLogo {
        background:url(/images/msbuildbook-med.jpg) no-repeat center center;
        width:100%;
        max-height:153px;
    }
    .filler {
        height:0;
        width:0;
    }

    /* align headers to the left*/
    #reviewSummary h2  {
        text-align:left;
    }

    /* resize bands by ID */
    #book {
        height:300px;
    }

    #reviewSummary {
        height:250px;
    }

    .twoColumn {
        height:870px;
    }

    .mainContent article section {
        display:block;
    }

    .leftCol {
        float:none;
        height:auto;
        width:auto;
        min-width:30px;
    }
    .rightCol {
        float:none;
        height:auto;
        width:auto;
        min-width:310px;
    }

    .twoColumn ul,.twoColumn li,.twoColumn ol, .twoColumn li{
        padding-top:0;
        padding-bottom:0;
        margin-top:0;
        margin-bottom:0;
    }
    .twoColumnLeft,.twoColumnRight {
        padding:0;
        margin:0;
    }

    #headerContent {
        min-width:260px;
    }
}