body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
}

img {
    border-style: none;
}

#mainContent {
    width: 90%;
    float: none;
    margin-right:10px;
    margin-left:10px;
}

body header {
    background-color: #1a1a1a;
    color:#0cf;
}

    body header .subHeader {
        display: block;
        padding-left:20px;
    }

        body header .subHeader, body header .subHeader a {
            background-color: #323439;
            color: white;
        }

.mainHeader {
    font-size: 28pt;
    font-weight: 300;
}

    .mainHeader a {
        color: inherit;
        text-decoration: inherit;
        font-size: inherit;
    }

.subHeader {
    font-style: italic;
}

    .subHeader a {
        margin-right:20px;
    }

#leftSection {
    width: 260px;
    display: inline;
    float: left;
    min-width: 250px;
    text-align: center;
}


#rightSection {
    width:1000px;
    display: inline;
    float: right;
    background-color: transparent;
}

    #rightSection ul {
        list-style: none;
        padding-left: 0;
    }

    #rightSection .reviewList h3, #rightSection .reviewList h3 a {
        margin-bottom:0;
    }


.bookContents {
    list-style: none;
    margin: 0;
    padding: 0;
}


h2 {
    font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
    font-size: 1.5em;
    font-weight: 500;
}

h3 {
    font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
    font-size: 1.25em;
    font-weight: 500;
}

#mainContent {
    margin-top: 10px;
}

#rightSection h2 {
    margin: 0;
}

footer {
    clear: both;
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: 10pt;
    color: #818181;
    font-style: italic;
    background-color: #323439;
}

    footer p {
        padding: 0;
        margin: 0;
    }
    footer a {
        color: white;
    }

.subHeader, .subHeader nav, .subHeader nav ul, .subHeader nav ul li {
    display: inline;
    padding: 0;

    margin: 0;
}

.subHeader {
    font-style: normal;
}

    .subHeader nav ul {
        list-style: none;
        display: inline;
    }

.compact, .compact h2, .compact h3, #mainContent ol {
    margin: 0;
}

.indented {
    margin-left: 20px;
}

#reviews {
    margin-top: 20px;
}

q em {
    font-weight: 600;
}
img {
        max-width:90%;
    }

/* required for windows 8 */
@media screen and (max-width: 320px) {
    @-ms-viewport {
        width: 320px;
    }
}
/* we have to be a bit careful to setup the sections for different screen sizes*/

@media only screen and (max-width:1500px) {
    #rightSection {
        width: 900px;
    }
}
@media only screen and (max-width:1300px) {
    #rightSection {
        width: 700px;
    }
}
@media only screen and (max-width:1100px) {
    .mainHeader {
        font-size: 20pt;
        font-weight: 600;
    }

    #rightSection {
        width: 620px;
    }
}

@media only screen and (max-width:1000px) {
    .mainHeader {
        font-size: 20pt;
        font-weight: 600;
    }

    #rightSection {
        width: 550px;
    }
}

@media only screen and (max-width:900px) {
    .mainHeader {
        font-size: 20pt;
        font-weight: 600;
    }
    #rightSection {
        width: 350px;
    }
}

/* mobile */
@media only screen and (max-width:600px) { 
    .mainHeader {
        font-size: 14pt;
        font-weight: 600;
    }

    .subHeader {
        padding-left: 10px;
    }

    #leftSection {
        float: none;
        text-align: left;
    }

    #rightSection {
        float: none;
    }

    /* Convert the horizontal menu to a vertical one */    
    .subHeader, .subHeader nav, .subHeader nav ul, .subHeader nav ul li {
        display: block;
    }

        .subHeader nav ul li {
            display: normal;
        }
}



