<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="slowcheetah">
          <match url="^slowcheetah"/>
          <action type="Rewrite" url="slowcheetah.html"/>
        </rule>
        <rule name="thirdEdition">
          <match url="^thirdEdition"/>
          <action type="Rewrite" url="thirdEdition.html"/>
        </rule>
        <rule name="toc">
          <match url="^toc"/>
          <action type="Rewrite" url="toc.html"/>
        </rule>
        <rule name="sample">
          <match url="^sample"/>
          <action type="Rewrite" url="sample.html"/>
        </rule>

        <rule name="staticContentVersions">
          <match url="^(scripts|content|images)/v([0-9]+)/(.*)"/>
          <action type="Rewrite" url="{R:1}/{R:3}"/>
        </rule>
        
        <!-- Redirect www.msbuildbook.com to msbuildbook.com -->
        <rule name="Remove WWW prefix" >
          <match url="(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.msbuildbook\.com" />
          </conditions>
          <action type="Redirect" url="http://msbuildbook.com/{R:1}"
              redirectType="Permanent" />
        </rule>
        
        
        
      </rules>
      <!--<outboundRules>
        <rule name="Set custom HTTP response header">
          <match serverVariable="RESPONSE_EXPIRES" pattern=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="\.png$" />
          </conditions>
          <action type="Rewrite" value="Sun, 29 Mar 2020 00:00:00 GMT"/>
        </rule>
      </outboundRules>-->
    </rewrite>
    
    <urlCompression doDynamicCompression="true" 
                    doStaticCompression="true" 
                    dynamicCompressionBeforeCache="true"/>
    
    <staticContent>
      <clientCache httpExpires="Sun, 30 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires" />
    </staticContent>
  </system.webServer>
</configuration>