<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="slowcheetah">
          <match url="^slowcheetah"/>
          <action type="Rewrite" url="slowcheetah.html"/>
        </rule>
        <rule name="thirdEdition">
          <match url="^thirdEdition"/>
          <action type="Rewrite" url="thirdEdition.html"/>
        </rule>
        <rule name="toc">
          <match url="^toc"/>
          <action type="Rewrite" url="toc.html"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>